  <body>
  <main class="page-content">
    <div class="banner">
      <div class="group-banner-content" id="myBanner">
        <div class="banner-content">
          <h4>SPRING COLLECTION 2021</h4>
          <h1>Get up to 30% sales off and more</h1>
          <%= link_to "Shop now", products_path, class: "btn"%>
        </div>
      </div>
    </div>
    <div class="sub-banner">
      <div class="sub-banner-category">
        <a class="page-link" href="#">
          <h2 class="sub-banner-title">WOMEN'S</h2>
        </a>
        <a href="#"><img class="sub-banner-img" src="assets/img/banner_1.jpg"></a>
      </div>
      <div class="sub-banner-category">
        <a class="page-link" href="#">
          <h2 class="sub-banner-title">ACCESSORIES'S</h2>
        </a>
        <a href="#"><img class="sub-banner-img" src="assets/img/banner_2.jpg"></a>
      </div>
      <div class="sub-banner-category">
        <a class="page-link" href="#">
          <h2 class="sub-banner-title">MEN'S</h2>
        </a>
        <a href="#"><img class="sub-banner-img" src="assets/img/product-detail-2.jpg"></a>
      </div>
    </div>
    <div class="main-content">
      <div class="content-title">
        <a class="page-link" href="#">
          <h1><%= link_to "Categories", products_path, class: "page-link" %></h1>
        </a>
      </div>
      <div class="main-category">
        <ul class="group-btn page-list page-flex">
          <li><button class="btn-category btn-category--active">
              <%= link_to "All", products_path, class: "category-link" %>
            </button></li>
          <% @categories.each do |c| %>
            <li><button class="btn-category"><%= link_to c.title, category_products_path(c), class: "category-link" %></li>
            </button>
          </button>
        <% end %>
      </ul>
    </div>
    <div class="product page-flex">
      <% @products.each do |product| %>
        <%= render "product", product: product, order_item: @order_item %>
      <% end %>
    </div>
    <div class="content-title">
      <a class="page-link" href="#">
        <h1>Best Sellers</h1>
      </a>
    </div>
    <div class="product page-flex">
      <% @best_sellers.each do |product| %>
        <%= render "product", product: product, order_item: @order_item %>
      <% end %>
    </div>
    <div class="blog page-flex">
      <div class="blog-item">
        <a href="#"><img class="blog-img" src="assets/img/blog_1.jpg"></a>
      </div>
      <div class="blog-item">
        <a href="#"><img class="blog-img" src="assets/img/blog_3.jpg"></a>
      </div>
      <div class="blog-item">
        <a href="#"><img class="blog-img" src="assets/img/blog_2.jpg"></a>
      </div>
      <div class="blog-btn">
        <button class="btn"> View more blog</button>
      </div>
    </div>
  </div>
</main>
</body>
