<% @products.each do |product| %>
  <div class="product-item">
    <% product.photos.each do |photo| %>
      <%= link_to image_tag(photo, class: 'product-img'), product %>
    <% end %>
    <h3 class="product-name"><%= product.name %></h3>
    <div class="product-price">$<%= product.price %></div>
    <h4><%= button_to 'Buy now', checkout_create_path, method: :post, params: {id: product.id}, remote: true %>
      <%= form_for order_item, remote: true do |f| %>
        <div class="input-group-btn">
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.hidden_field :quantity, value: 1 %>
          <%= f.submit "ADD TO CART", class: "product-add" %>
        </div>
      <% end %>
    </div>
  <% end %>
