<%# --------Admin-------- %>
<% if user_signed_in? && current_user.admin? %>
  <p id="notice"><%= notice %></p>
  <h1>Products</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Photo</th>
        <th>Action</th>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td>$<%= product.price %></td>
          <td>
            <% product.photos.each do |photo| %>
              <%= image_tag(photo, size:"150x150") %>
            <% end %>
          </td>
          <td><%= link_to 'Show', product %></td>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Product', new_product_path %>
<% else %>
  <%# --------User--------  %>
  <div class="form-group">
    <%= form_tag products_path, method: 'get', class: "form-filter" do %>
      <%= collection_select :product, :category_id, Category.all, :id, :title, {prompt: "Select Category"}, {class: "select-box"} %>
      <%= submit_tag "Filter", class: "btn-search" %>
      <span class="sort text-blur">Sort |  </span>
      <span class="sort sort-text"><%= sortable "price" %> <i class="fas fa-caret-down"></i></span> - 
      <span class="sort sort-text"><%= sortable "name" %> <i class="fas fa-caret-down"></i></span>
    <% end %>
  </div>
  <div class="product page-flex">
    <% if @categories.blank?  %>
      <h2 class="fluid"> <%= @categories.title %>  </h2>
    <% elsif request.original_url == search_products_url %>
      <h2 class="fluid">Search result </h2>
    <% else %>
      <h2 class="fluid">All products</h2>
    <% end %>
    <%= render partial: 'product' %>
  </div>
  <div style="float: right">
    <div class="digg_pagination">
      <%= will_paginate @products, :container => false %>
    </div>
  </div>
<% end %>
