<%# --------Admin-------- %>

<% if user_signed_in? && current_user.admin? %>
<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Photo</th>
      <th>Action</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td> 
          <% product.photos.each do |photo| %>
            <%= image_tag(photo, size:"150x150") %>
          <% end %>
        </td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>

<% else %>

<%# --------User--------  %>
<div class="product-title">
  <h2>All</h2>
</div>  
<div class="product page-flex">
    <% @products.each do |product| %>
      <div class="product-item">
          <% product.photos.each do |photo| %>
            <%= link_to image_tag(photo), product, :class => 'product-img' %>
          <% end %>
        <h3 class="product-name"><%= product.name %></h3>
        <div class="product-price"><%= product.price %></div>
        <button class="product-add">ADD TO CART</button>
      </div>
    <% end %>
</div>
<div class="product-title">
  <h2>Woman's</h2>
</div>  

<% end %>
